
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="footer-top-panel">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="form-outer-wrap">
				<div class="form-title">Подпишитесь на&nbsp;наши&nbsp;новинки</div>
				<div class="form-wrap">
					<div class="frm-row">
						<div class="frm-field field-input">
							<input type="email" class="form-input" placeholder="E-mail" required>
						</div>
						<div class="frm-field field-button">
							<button type="submit" class="btn button-border">Подписаться</button>
						</div>
					</div>
					<div class="frm-info">При нажатии на кнопку “подписаться” вы даете согласие на <a href="" class="link-main">обработку персональных данных</a></div>
				</div>
			</div>
		</div>
		<div class="footer-main-panel">
			<div class="contacts-outer-wrap">
				<div class="cnt-wrap">
					<div class="elm-ico">
						<img src="./img/icons/footer-shedule.svg" alt="">
					</div>
					<p>Время работы:</p>
					<p>пн-пт - 9:00 -19:00,</p>
					<p>сб - 9:00 - 17:00, вс - 10:00-15:00</p>
				</div>
				<div class="cnt-wrap">
					<div class="elm-ico">
						<img src="./img/icons/footer-location.svg" alt="">
					</div>
					<p>Калининград, ул.Лесопильная, 81</p>
				</div>
				<div class="cnt-wrap">
					<div class="elm-ico">
						<img src="./img/icons/footer-email.svg" alt="">
					</div>
					<p><a href="mailto:koleso.39@yandex.ru">koleso.39@yandex.ru</a></p>
				</div>
				<div class="cnt-wrap">
					<div class="elm-ico">
						<img src="./img/icons/footer-phone.svg" alt="">
					</div>
					<p><a href="tel:84012384979">+7 (4012) 38-49-79</a></p>
				</div>
			</div>
			<div class="menu-outer-wrap">
				<div class="menu-wrap">
					<ul class="menu">
						<li>
							<a href="">Продукция</a>
							<ul>
								<li><a href="">Каталог товаров</a></li>
								<li><a href="">Акции</a></li>
								<li><a href="">Доставка и оплата</a></li>
							</ul>
						</li>
						<li>
							<a href="">Компания</a>
							<ul>
								<li><a href="">Контакты</a></li>
							</ul>
						</li>
						<li>
							<a href="">Документы</a>
							<ul>
								<li><a href="">Политика конфиденциальности</a></li>
								<li><a href="">Пользовательское соглашение</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="info-outer-wrap">
					<div class="soc-wrap">
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-light01.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-light02.svg" alt="">
						</a>
					</div>
					<div class="info-wrap">
						<p>2022 г. ТеплоСервис. Все права защищены</p>
						<p><a href="" class="logo-s"><img src="./img/main/logo-s.svg" alt=""></a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->


<!--actions-panel-box-->
<div class="actions-panel-box">
	<a href="" class="btn-action-ico button-action">
		<img src="./img/icons/action01.svg" alt="">
	</a>
	<a href="" class="btn-action-ico button-action">
		<img src="./img/icons/action02.svg" alt="">
	</a>
	<a href="" class="btn-action-ico button-action">
		<img src="./img/icons/action03.svg" alt="">
	</a>
</div><!--/actions-panel-box-->


<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-cart-share">
	<div class="popup-box">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-content-wrap">
			<div class="title-wrap">
				<div class="popup-title">Поделиться корзиной</div>
				<p>Просто отправьте ссылку, и получатель сможет открыть список товаров из вашей текущей корзины</p>
			</div>
			<div class="popup-action">
				<a href="" class="btn button-border button-link-copy js-btn-tgl" data-title="Скопировать ссылку" data-succefull="Ссылка скопирована"></a>
			</div>
		</div>
	</div>
</div>
<!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-cart-succefull">
	<div class="popup-box popup-large">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-content-wrap text-center">
			<div class="title-wrap">
				<div class="elm-ico">
					<img src="./img/icons/check.svg" alt="">
				</div>
				<div class="popup-title">Благодарим, <br>ваш заказ оформлен!</div>
				<p>Наши специалисты свяжутся с вами в ближайшее время, для уточнения деталей заказа</p>
			</div>
		</div>
	</div>
</div>
<!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-cart-form">
	<div class="popup-box popup-form">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-content-wrap text-center">
			<div class="frm-tabs-wrap js-tabs-nav">
				<ul class="menu">
					<li><a href="" class="btn button-tab active" data-tab="tab-popup-login">Юр. лицо</a></li>
					<li><a href="" class="btn button-tab" data-tab="tab-popup-reg">Физ. лицо</a></li>
				</ul>
			</div>
			<!--form tab login-->
			<div class="frm-inner-wrap js-tab-block" data-tab="tab-popup-login">
				<div class="title-wrap">
					<div class="popup-title">Заполните данные <br> и&nbsp;мы с&nbsp;вами свяжемся</div>
				</div>
				<form action="/" class="frm-wrap">
					<div class="frm-row">
						<div class="frm-field">
							<div class="frm-field-input js-input">
								<label class="field-title">Наименование организации *</label>
								<input type="text" class="form-input" required>
								<div class="field-error">Вы неверно ввели имя</div>
							</div>
						</div>
					</div>
					<div class="frm-row row-select">
						<div class="frm-field">
							<div class="frm-select-button">
								<input type="radio" name="b01" id="b01-01" checked>
								<label for="b01-01">ИП *</label>
							</div>
							<div class="frm-select-button">
								<input type="radio" name="b01" id="b01-02">
								<label for="b01-02">ООО *</label>
							</div>
						</div>
					</div>
					<div class="frm-row">
						<div class="frm-field">
							<div class="frm-field-input js-input">
								<label class="field-title">ИНН *</label>
								<input type="text" class="form-input" required>
								<div class="field-error">Вы неверно ввели ИНН</div>
							</div>
						</div>
					</div>
					<div class="frm-row">
						<div class="frm-field">
							<div class="frm-field-input js-input">
								<label class="field-title">Телефон *</label>
								<input type="tel" class="form-input">
								<div class="field-error">Вы неверно ввели телефон</div>
							</div>
						</div>
					</div>
					<div class="frm-row">
						<div class="frm-field">
							<div class="frm-field-input js-input">
								<label class="field-title">E-mail *</label>
								<input type="email" class="form-input" required>
								<div class="field-error">Вы неверно ввели email</div>
							</div>
						</div>
					</div>
					<div class="frm-row-submit">
						<div class="frm-field field-button">
							<button type="submit" class="btn">Отправить</button>
						</div>
						<div class="frm-field field-info">Нажимая на кнопку “отправить” вы даете согласие на <a href="" class="link-main">обработку персональных данных</a></div>
					</div>
				</form>
			</div>
			<!--/form tab login-->
			<!--form tab login-->
			<div class="frm-inner-wrap js-tab-block" data-tab="tab-popup-reg">
				<div class="title-wrap">
					<div class="popup-title">Заполните данные <br> и&nbsp;мы с&nbsp;вами свяжемся</div>
				</div>
				<form action="/" class="frm-wrap">
					<div class="frm-row">
						<div class="frm-field">
							<div class="frm-field-input js-input">
								<label class="field-title">Ф.И.О *</label>
								<input type="text" class="form-input" required>
								<div class="field-error">Вы неверно ввели Ф.И.О</div>
							</div>
						</div>
					</div>
					<div class="frm-row">
						<div class="frm-field">
							<div class="frm-field-input js-input">
								<label class="field-title">Телефон *</label>
								<input type="tel" class="form-input">
								<div class="field-error">Вы неверно ввели телефон</div>
							</div>
						</div>
					</div>
					<div class="frm-row">
						<div class="frm-field">
							<div class="frm-field-input js-input">
								<label class="field-title">E-mail *</label>
								<input type="email" class="form-input" required>
								<div class="field-error">Вы неверно ввели email</div>
							</div>
						</div>
					</div>
					<div class="frm-row row-select">
						<div class="frm-field">
							<div class="frm-select-button select-large">
								<input type="radio" name="b02" id="b02-01" checked>
								<label for="b02-01">Доставка</label>
							</div>
							<div class="frm-select-button select-large">
								<input type="radio" name="b02" id="b02-02">
								<label for="b02-02">Самовывоз</label>
							</div>
						</div>
					</div>
					<div class="frm-row-submit">
						<div class="frm-field field-button">
							<button type="submit" class="btn">Отправить</button>
						</div>
						<div class="frm-field field-info">Нажимая на кнопку “отправить” вы даете согласие на <a href="" class="link-main">обработку персональных данных</a></div>
					</div>
				</form>
			</div>
			<!--/form tab login-->
		</div>
	</div>
</div>
<!--/popup-outer-box-->