
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="footer-top-panel">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="form-outer-wrap">
				<div class="form-title">Подпишитесь на&nbsp;наши&nbsp;новинки</div>
				<div class="form-wrap">
					<div class="frm-row">
						<div class="frm-field field-input">
							<input type="email" class="form-input" placeholder="E-mail" required>
						</div>
						<div class="frm-field field-button">
							<button type="submit" class="btn button-border">Подписаться</button>
						</div>
					</div>
					<div class="frm-info">При нажатии на кнопку “подписаться” вы даете согласие на <a href="" class="link-main">обработку персональных данных</a></div>
				</div>
			</div>
		</div>
		<div class="footer-main-panel">
			<div class="contacts-outer-wrap">
				<div class="cnt-wrap">
					<div class="elm-ico">
						<img src="./img/icons/footer-shedule.svg" alt="">
					</div>
					<p>Время работы:</p>
					<p>пн-пт - 9:00 -19:00,</p>
					<p>сб - 9:00 - 17:00, вс - 10:00-15:00</p>
				</div>
				<div class="cnt-wrap">
					<div class="elm-ico">
						<img src="./img/icons/footer-location.svg" alt="">
					</div>
					<p>Калининград, ул.Лесопильная, 81</p>
				</div>
				<div class="cnt-wrap">
					<div class="elm-ico">
						<img src="./img/icons/footer-email.svg" alt="">
					</div>
					<p><a href="mailto:koleso.39@yandex.ru">koleso.39@yandex.ru</a></p>
				</div>
				<div class="cnt-wrap">
					<div class="elm-ico">
						<img src="./img/icons/footer-phone.svg" alt="">
					</div>
					<p><a href="tel:84012384979">+7 (4012) 38-49-79</a></p>
				</div>
			</div>
			<div class="menu-outer-wrap">
				<div class="menu-wrap">
					<ul class="menu">
						<li>
							<a href="">Продукция</a>
							<ul>
								<li><a href="">Каталог товаров</a></li>
								<li><a href="">Акции</a></li>
								<li><a href="">Доставка и оплата</a></li>
							</ul>
						</li>
						<li>
							<a href="">Компания</a>
							<ul>
								<li><a href="">Контакты</a></li>
							</ul>
						</li>
						<li>
							<a href="">Документы</a>
							<ul>
								<li><a href="">Политика конфиденциальности</a></li>
								<li><a href="">Пользовательское соглашение</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="info-outer-wrap">
					<div class="soc-wrap">
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-light01.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-light02.svg" alt="">
						</a>
					</div>
					<div class="info-wrap">
						<p>2022 г. ТеплоСервис. Все права защищены</p>
						<p><a href="" class="logo-s"><img src="./img/main/logo-s.svg" alt=""></a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->