
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo-main.svg" alt="">
			</a>
		</div>
		<div class="popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu js-btn-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<div class="menu-inner-panel">
					<div class="search-wrap">
						<form action="/" class="frm-main-search">
							<input type="text" class="form-input" placeholder="Поиск">
						</form>
					</div>
					<div class="menu-wrap">
						<ul class="menu">
							<li class="menu-catalog"><a href="" class="btn-menu-main">Каталог товаров</a></li>
							<li><a href="" class="btn-menu-main">Акции</a></li>
							<li><a href="" class="btn-menu-main">Доставка и оплата</a></li>
							<li><a href="" class="btn-menu-main">Контакты</a></li>
						</ul>
					</div>
					<div class="links-wrap">
						<div class="link-wrap">
							<a href="">Политика конфиденциальности</a>
						</div>
						<div class="link-wrap">
							<a href="">Пользовательское соглашение</a>
						</div>
					</div>
					<div class="soc-wrap">
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc01.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc02.svg" alt="">
						</a>
					</div>
					<div class="info-wrap">
						<p>2022 г. ТеплоСервис. Все права защищены</p>
						<p><a href="" class="logo-s"><img src="./img/main/logo-s.svg" alt=""></a></p>
					</div>
				</div>
				<div class="menu-actions-panel">
					<a href="" class="btn-menu">
						<span class="button-ico">
							<img src="./img/icons/menu-home.svg" alt="">
						</span>
						<span class="button-title">Главная</span>
					</a>
					<a href="" class="btn-menu">
						<span class="button-ico">
							<img src="./img/icons/menu-user.svg" alt="">
						</span>
						<span class="button-title">Кабинет</span>
					</a>
					<a href="" class="btn-menu">
						<span class="button-ico">
							<img src="./img/icons/menu-fav.svg" alt="">
						</span>
						<span class="button-title">Избранное</span>
					</a>
					<a href="" class="btn-menu">
						<span class="button-ico">
							<img src="./img/icons/menu-cart.svg" alt="">
						</span>
						<span class="button-title">Корзина</span>
					</a>
				</div>
			</div>
		</div>
		<div class="popup-search-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-search js-btn-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<form action="/" class="frm-main-search">
					<input type="text" class="form-input" placeholder="Поиск">
				</form>
			</div>
		</div>
		<div class="phone-wrap">
			<a href="tel:84012384979" class="link-phone">+7 (4012) 38-49-79</a>
		</div>
	</div>
</header>
<!-- /header -->